<!doctype html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist syte</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- A Lightbox is basically a slider (carousel) inside of a modal.

  Todos: fix active class (when you click on a photo, carousel in modal reverts to first slide)
 *solution: added data-slide-to and data-target to imgs
-->

<!--{% for item in exemplar%}
<img src="{{item.picture.url}}">
{{item.picture}}
{% endfor %}-->
<div class="container">
    <div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
        {% for item in exemplar%}
        <div class="col-12 col-md-6 col-lg-3">

            <img src="{{item.picture.url}}"
                 data-target="#indicators" data-slide-to="{{item.pk}}" alt=""/>
        </div>
        {% endfor %}
    </div>

    <!-- Modal
    <div class="modal fade" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close text-right p-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

    </div>-->
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js'></script>
</body>
</html>
</div>